<h4>{{title}}</h4>
<br/>
<table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
<thead>
  <tr>
    <th>#</th>
    <th>CategoryName</th>
     <th>Action</th>
  </tr>
</thead>
<tbody>
  <tr *ngFor="let category of categories">
    <td><i class="fa fa-dot-circle-o" style="font-size:24px"></i></td>
    <td>{{ category.catName }}</td>
     <td><a routerLink="/dishlist/{{category.id}}">View</a></td>
  </tr>
</tbody>
</table> 
<br/>
<button (click)="goBack()">go back</button>